<h3>
  <%= @treatment.treatmentName %>
</h3>
<h4>Translations</h4>
<ul>
  <% @treatment.translations.each do |translation| %>
    <li>
      <%= translation.translationLanguage %> : <%= translation.translationValue %>
    </li>
  <% end %>
</ul>
<%= link_to "Add translation", new_admin_translation_url(id: @treatment.id) %>
<%= link_to "Back to treatments list", admin_treatments_url() %>