<h3>Hello ! Here you can see your selections by giving your name</h3>
<%= form_with model: @patients, url:"/user/patients", method: :post do |form| %>
  <div>
    <%= form.label :patientName, value: "Your name" %><br>
    <%= form.text_field :patientName, size: "40x5", placeholder: "Write your name here", required: true %>
  </div>
  <div>
    <%= form.submit "Show my selections" %>
  </div>
<% end %>
<div>
  <p>If it's the first time you are here, you can <%= link_to "select a treatment here", user_treatments_url() %></p>
</div>
