<%= form_with model: @patients, url:"/user/patients", method: :post do |form| %>
    <div>
      <%= form.label :patientName %><br>
      <%= form.text_field :patientName %>
    </div>
    <div>
      <%= form.label :id %><br>
      <select name="patient[id]" id="id">
        <% @categorys.each do |category| %>
          
            <optgroup label=<%= category.categoryName %> >
              
            <% category.treatments.each do |treatment| %>
              <option value=<%= treatment.id %> >
                <%= treatment.treatmentName %>
              </option>
            <%end %>
            </optgroup>
          
        <% end %>
      </select>
    </div>
    <div>
      <%= form.submit %>
    </div>
  
    
  <% end %>
